<section class="no-padding wow fadeIn no-transition">
    <div id="rev_slider_1174_1_wrapper" class="rev_slider_wrapper fullscreen-container rev-slider" data-alias="inspiration-header" data-source="gallery" style="background-color:transparent;padding:0px;">
        <!-- start revolution slider 5.4.1 fullscreen mode -->
        <div id="rev_slider_1174_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
            <ul>
                <!-- slide -->
                <li data-index="rs-3238" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="500" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- main image -->
                    <img src="images/transparent.png" data-bgcolor="#e0e0e0" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                    <!-- layers -->
                    <!-- layer nr. 1 -->
                    <div class="tp-caption tp-resizeme rs-parallaxlevel-8"
                         id="slide-3238-layer-4"
                         data-x="['left','left','left','left']" data-hoffset="['-264','-264','-371','-416']"
                         data-y="['top','top','top','top']" data-voffset="['-100','-100','-150','-180']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-type="image"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-frames='[{"from":"x:left;rZ:-90deg;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 5;border-width:0px;"><img src="images/header_penpot.png" alt="" data-ww="['650px','650px','650px','650px']" data-hh="['500px','500px','500px','500px']" width="650" height="500" data-no-retina> </div>

                    <!-- layer nr. 2 -->
                    <div class="tp-caption tp-resizeme rs-parallaxlevel-9"
                         id="slide-3238-layer-5"
                         data-x="['right','right','right','right']" data-hoffset="['40','40','-70','-144']"
                         data-y="['top','top','top','top']" data-voffset="['-100','-100','-80','-100']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-type="image"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-frames='[{"from":"x:right;y:-500px;rZ:90deg;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 6;border-width:0px;"><img src="images/header_flowerpot.png" alt="" data-ww="['550px','550px','550px','550px']" data-hh="['471px','471px','471px','471px']" width="550" height="471" data-no-retina> </div>

                    <!-- layer nr. 3 -->
                    <div class="tp-caption tp-resizeme rs-parallaxlevel-10"
                         id="slide-3238-layer-6"
                         data-x="['left','left','left','left']" data-hoffset="['-372','-372','-540','-638']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-484','-484','-520','-522']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-type="image"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-frames='[{"from":"x:left;rZ:45deg;","speed":2500,"to":"o:1;","delay":650,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 7;border-width:0px;"><img src="images/header_papers.png" alt="" data-ww="['900px','900px','900px','900px']" data-hh="['1000px','1000px','1000px','1000px']" width="900" height="1000" data-no-retina> </div>

                    <!-- layer nr. 4 -->
                    <div class="tp-caption tp-resizeme rs-parallaxlevel-12"
                         id="slide-3238-layer-9"
                         data-x="['left','left','left','left']" data-hoffset="['134','134','-2','-57']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['67','67','50','6']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-type="image"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:bottom;rZ:90deg;","speed":1500,"to":"o:1;","delay":1050,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 8;border-width:0px;"><img src="images/header_marker.png" alt="" data-ww="['200px','200px','200px','200px']" data-hh="['300px','300px','300px','300px']" width="200" height="300" data-no-retina> </div>

                    <!-- layer nr. 5 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-11"
                         id="slide-3238-layer-10"
                         data-x="['left','left','left','left']" data-hoffset="['181','181','30','-39']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-170','-170','-190','-212']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-type="image"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:bottom;rZ:-90deg;","speed":1500,"to":"o:1;","delay":1250,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 9;border-width:0px;"><img src="images/header_edding.png" alt="" data-ww="['300px','300px','300px','300px']" data-hh="['400px','400px','400px','400px']" width="300" height="400" data-no-retina> </div>

                    <!-- layer nr. 6 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-12"
                         id="slide-3238-layer-11"
                         data-x="['left','left','left','left']" data-hoffset="['393','393','201','81']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['218','218','183','191']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-type="image"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:bottom;rZ:-90deg;","speed":1500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 10;border-width:0px;"><img src="images/header_paperclip.png" alt="" data-ww="['50px','50px','50px','50px']" data-hh="['100px','100px','100px','100px']" width="50" height="100" data-no-retina> </div>

                    <!-- layer nr. 7 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-11"
                         id="slide-3238-layer-12"
                         data-x="['left','left','left','left']" data-hoffset="['346','346','165','36']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['255','255','237','231']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-type="image"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:bottom;rZ:90deg;","speed":2000,"to":"o:1;rZ:310;","delay":550,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 11;border-width:0px;"><img src="images/header_paperclip.png" alt="" data-ww="['50px','50px','50px','50px']" data-hh="['100px','100px','100px','100px']" width="50" height="100" data-no-retina> </div>

                    <!-- layer nr. 8 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-9"
                         id="slide-3238-layer-7"
                         data-x="['right','right','right','right']" data-hoffset="['-364','-364','-479','-553']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-155','-155','-180','-202']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-type="image"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-frames='[{"from":"x:right;rZ:-65deg;","speed":1500,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 12;border-width:0px;"><img src="images/header_tablet.png" alt="" data-ww="['730px','730px','730px','730px']" data-hh="['520px','520px','520px','520px']" width="730" height="520" data-no-retina> </div>

                    <!-- layer nr. 9 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-11"
                         id="slide-3238-layer-8"
                         data-x="['right','right','right','right']" data-hoffset="['222','222','105','8']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['8','8','-17','-10']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-type="image"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-frames='[{"from":"x:right;rZ:90deg;","speed":1500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 13;border-width:0px;"><img src="images/header_pen.png" alt="" data-ww="['300px','300px','300px','300px']" data-hh="['500px','500px','500px','500px']" width="300" height="500" data-no-retina> </div>

                    <!-- layer nr. 10 -->
                    <div class="tp-caption tp-resizeme rs-parallaxlevel-2"
                         id="slide-3238-layer-1"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-60','-60','-60','-90']"
                         data-fontsize="['70','70','70','50']"
                         data-lineheight="['80','80','80','60']"
                         data-width="['none','none','none','360']"
                         data-height="none"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:-50px;rX:-45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":510,"ease":"Power4.easeOut"},{"delay":640,"speed":600,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"><span class="alt-font text-extra-dark-gray head-text font-weight-700">Özgün Ol!</span></div>

                    <!-- layer nr. 11 -->
                    <div class="tp-caption tp-resizeme rs-parallaxlevel-2"
                         id="slide-3238-layer-15"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-60','-60','-60','-90']"
                         data-fontsize="['70','70','70','50']"
                         data-lineheight="['80','80','80','60']"
                         data-width="['none','none','none','360']"
                         data-height="none"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:-50px;rX:-45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":2940,"ease":"Power4.easeOut"},{"delay":660,"speed":600,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"><span class="alt-font text-extra-dark-gray head-text font-weight-700">İlham Ver!</span></div>

                    <!-- layer nr. 12 -->
                    <div class="tp-caption tp-resizeme rs-parallaxlevel-2"
                         id="slide-3238-layer-16"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-60','-60','-60','-90']"
                         data-fontsize="['70','70','70','50']"
                         data-lineheight="['80','80','80','60']"
                         data-width="['none','none','none','400']"
                         data-height="none"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:-50px;rX:-45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":5390,"ease":"Power4.easeOut"},{"delay":"wait","speed":600,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"><span class="alt-font text-extra-dark-gray head-text font-weight-700">Markanı Yarat!</span></div>

                    <!-- layer nr. 13 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
                         id="slide-3238-layer-2"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['10','10','10','-10']"
                         data-fontsize="['16','16','16','20']"
                         data-lineheight="['20','20','20','30']"
                         data-width="['none','none','none','360']"
                         data-height="none"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"from":"y:50px;rX:45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":600,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 17; white-space: nowrap; line-height: 20px; font-weight: 400; font-family:Roboto;border-width:0px;">Sen de okurlarınla buluşmak istiyorsan hemen kayıt ol!</div>

                    <!-- layer nr. 14 -->
                    <a class="tp-caption rev-btn  rs-parallaxlevel-3" href="@Url.Action("Register", "Account")"
                       id="slide-3238-layer-3"
                       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                       data-y="['middle','middle','middle','middle']" data-voffset="['70','70','70','70']"
                       data-width="none"
                       data-height="none"
                       data-whitespace="['nowrap','nowrap','nowrap','normal']"
                       data-type="button"
                       data-responsive_offset="on"
                       data-responsive="off"
                       data-frames='[{"from":"y:100px;rX:90deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"150","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(0, 0, 0, 1.00);bs:solid;"}]'
                       data-textAlign="['left','left','left','left']"
                       data-paddingtop="[0,0,0,0]"
                       data-paddingright="[24,24,24,24]"
                       data-paddingbottom="[0,0,0,0]"
                       data-paddingleft="[24,24,24,24]"
                       style="z-index: 18; white-space: nowrap; font-size: 13px; line-height: 40px; font-weight: 700; color: #fff;font-family:Roboto;background-color:#ff214f;border-color:rgba(0, 0, 0, 1.00);border-width:0px;border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; text-transform: uppercase"><span class="alt-font">Başla</span></a>

                    <!-- layer nr. 15 -->
                    <div class="tp-caption rev-scroll-btn revs-dark  rs-parallaxlevel-5"
                         id="slide-3238-layer-13"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']"
                         data-width="30"
                         data-height="45"
                         data-whitespace="['nowrap','nowrap','nowrap','normal']"
                         data-type="button"
                         data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":"","speed":1000}]'
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-responsive="off"
                         data-frames='[{"from":"y:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":800,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                         data-textAlign="['left','left','left','left']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 19; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-size: px; line-height: px; font-weight: 400;border-color:rgba(0, 0, 0, 1.00);border-style:solid;border-width:2px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                        <span></span>
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
</section>

<section class="bg-light-gray wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7 text-center margin-100px-bottom sm-margin-40px-bottom">
                <div class="position-relative overflow-hidden w-100">
                    <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Yol Haritanız</span>
                </div>
            </div>
        </div>
        <div class="row">
  
            <div class="col-12 col-md-4 feature-box-1 sm-margin-30px-bottom wow fadeIn last-paragraph-no-margin" style="visibility: visible; animation-name: fadeIn;">
                <div class="d-flex align-items-center margin-15px-bottom alt-font">
                    <h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600 mb-0">01.</h3>
                    <span class="text-large text-extra-dark-gray line-height-22 padding-20px-left width-100">Kayıt<br> Ol!</span>
                </div>
                <p class="width-90 md-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry.</p>
            </div>
     
            <div class="col-12 col-md-4 feature-box-1 sm-margin-30px-bottom wow fadeIn last-paragraph-no-margin" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                <div class="d-flex align-items-center margin-15px-bottom alt-font">
                    <h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600 mb-0">02.</h3>
                    <span class="text-large text-extra-dark-gray line-height-22 padding-20px-left width-100">Yazmaya<br> Başla</span>
                </div>
                <p class="width-90 md-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry.</p>
            </div>
       
            <div class="col-12 col-md-4 feature-box-1 wow fadeIn last-paragraph-no-margin" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                <div class="d-flex align-items-center margin-15px-bottom alt-font">
                    <h3 class="char-value text-deep-pink letter-spacing-minus-1 text-medium-gray font-weight-600 mb-0">03.</h3>
                    <span class="text-large text-extra-dark-gray line-height-22 padding-20px-left width-100">Kitlene<br> Ulaş</span>
                </div>
                <p class="width-90 md-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry.</p>
            </div>
         
        </div>
    </div>
</section>

<section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-5 col-md-11 padding-five-right md-margin-70px-bottom text-center text-lg-left md-padding-15px-lr sm-margin-50px-bottom wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <h5 class="alt-font font-weight-600 text-deep-pink">Neden bizi tercih etmelisiniz ? </h5>
                <p>With years of experience in the website design and development industry ThemeZaa pride ourselves on creating unique, creative and quality designs that are developed upon the latest modern coding and developing techniques, which are then built using the most up to date, structured coding framework so that your development team can take it to the next level with ease.</p>
                <a class="btn btn-dark-gray btn-small" href="@Url.Action("Register", "Account")">Kayıt Ol</a>
            </div>
            <div class="col-12 col-lg-7 padding-five-lr md-padding-15px-lr">
                <div class="row m-0">
                    <!-- start features box item -->
                    <div class="col-12 col-md-6 margin-30px-bottom text-center text-lg-left wow fadeInUp last-paragraph-no-margin" style="visibility: visible; animation-name: fadeInUp;">
                        <i class="icon-desktop icon-extra-medium text-deep-pink margin-15px-bottom"></i>
                        <div class="alt-font text-extra-dark-gray font-weight-600 margin-5px-bottom">Basit Arayüz</div>
                        <p class="width-85 lg-width-90 md-width-100">Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum standard dummy.</p>
                    </div>
                    <!-- end feature box item -->
                    <!-- start features box item -->
                    <div class="col-12 col-md-6 margin-30px-bottom text-center text-lg-left wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <i class="icon-tools icon-extra-medium text-deep-pink margin-15px-bottom"></i>
                        <div class="alt-font text-extra-dark-gray font-weight-600 margin-5px-bottom">Özelleştirilmiş Editör</div>
                        <p class="width-85 lg-width-90 md-width-100">Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum standard dummy.</p>
                    </div>
                    <!-- end feature box item -->
                    <!-- start features box item -->
                    <div class="col-12 col-md-6 wow fadeInUp sm-margin-30px-bottom text-center text-lg-left last-paragraph-no-margin" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <i class="icon-target icon-extra-medium text-deep-pink margin-15px-bottom"></i>
                        <div class="alt-font text-extra-dark-gray font-weight-600 margin-5px-bottom">Kolay Ulaşılabilir Kitle</div>
                        <p class="width-85 lg-width-90 md-width-100">Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum standard dummy.</p>
                    </div>
                    <!-- end feature box item -->
                    <!-- start features box item -->
                    <div class="col-12 col-md-6 wow fadeInUp last-paragraph-no-margin text-center text-lg-left" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <i class="icon-laptop icon-extra-medium text-deep-pink margin-15px-bottom"></i>
                        <div class="alt-font text-extra-dark-gray font-weight-600 margin-5px-bottom">Tüm Platformlara Uyumlu</div>
                        <p class="width-85 lg-width-90 md-width-100">Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum standard dummy.</p>
                    </div>
                    <!-- end feature box item -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="wow fadeIn pt-0" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row">
            <!-- start counter item-->
            <div class="col-12 col-lg-3 col-md-6 text-center md-margin-30px-bottom wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="counter-feature-box-1 w-100 border-all padding-5px-all">
                    <div class="counter-box bg-white d-flex justify-content-center flex-column h-100">
                        <i class="far fa-heart fa-3x text-medium-gray margin-15px-bottom"></i>
                        <h6 class="d-block font-weight-600 text-extra-dark-gray alt-font mb-0 timer appear" data-speed="2000" data-to="995">995</h6>
                        <span>Mutlu Okur</span>
                    </div>
                </div>
            </div>
            <!-- end counter item-->
            <!-- start counter item-->
            <div class="col-12 col-lg-3 col-md-6 text-center md-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="counter-feature-box-1 w-100 border-all padding-5px-all">
                    <div class="counter-box bg-white d-flex justify-content-center flex-column h-100">
                        <i class="far fa-keyboard fa-3x text-medium-gray margin-15px-bottom"></i>
                        <h6 class="d-block font-weight-600 text-extra-dark-gray alt-font mb-0 timer appear" data-speed="2000" data-to="75">75</h6>
                        <span>Blogger</span>
                    </div>
                </div>
            </div>
            <!-- end counter item-->
            <!-- start counter item-->
            <div class="col-12 col-lg-3 col-md-6 text-center sm-margin-30px-bottom wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <div class="counter-feature-box-1 w-100 border-all padding-5px-all">
                    <div class="counter-box bg-white d-flex justify-content-center flex-column h-100">
                        <i class="far fa-file-alt fa-3x text-medium-gray margin-15px-bottom"></i>
                        <h6 class="d-block font-weight-600 text-extra-dark-gray alt-font mb-0 timer appear" data-speed="2000" data-to="782">782</h6>
                        <span>Blog yazısı</span>
                    </div>
                </div>
            </div>
            <!-- end counter item-->
            <!-- start counter item-->
            <div class="col-12 col-lg-3 col-md-6 text-center wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                <div class="counter-feature-box-1 w-100 border-all padding-5px-all">
                    <div class="counter-box bg-white d-flex justify-content-center flex-column h-100">
                        <i class="far fa-comments fa-3x text-medium-gray margin-15px-bottom"></i>
                        <h6 class="d-block font-weight-600 text-extra-dark-gray alt-font mb-0 timer appear" data-speed="2000" data-to="2867">2867</h6>
                        <span>Yorum</span>
                    </div>
                </div>
            </div>
            <!-- end counter item-->
        </div>
    </div>
</section>